.build
.idea
.scannerwork
.vendor
.vscode
bin
dist
node_modules
sonar-scanner-*
target
vendor
__debug_bin
*.db
*.gz
*.log
*.out
*.prof
*.so
*.test
*_string.go
CHANGELOG.md
coverage.*
cucumber.json
gosec.json
report.*
swagger.json
unit-tests.xml
