.build
.idea
.scannerwork
.vendor
.vscode
bin
dist
node_modules
public
sonar-scanner-*
target
vendor
__debug_bin
*.test
*.log
*.out
*.prof
*.so
CHANGELOG.md
coverage.*
cucumber.json
gosec.json
package*.json
report.xml
unit-tests.xml
