.build
.idea
.scannerwork
.vendor
.vscode
bin
dist
node_modules
sonar-scanner-*
target
vendor
__debug_bin
*.test
*.log
*.out
*.prof
*.so
CHANGELOG.md
coverage.*
cucumber.json
gosec.json
report.*
unit-tests.xml
